<nav class="navbar-fix">
  <ul class="navbar-list">
    <li   class="navbar-item "><a id="0" class="navbar-link" href="#home">Home</a></li>
    <li   class="navbar-item"><a id="1" class="navbar-link" href="#about">About-us</a></li>
    <li   class="navbar-item"><a id="2" class="navbar-link" href="#">Events</a></li>
    <li  class="navbar-item"><a id="3" class="navbar-link" href="#social">social cause</a></li>
    <!-- <li id="4" class="navbar-item"><a class="navbar-link" href="#">Pro nites</a></li> -->
  <!--  <li id="5" class="navbar-item"><a class="navbar-link" href="#">Accomodation</a></li> -->
    <li  class="navbar-item"><a id="6" class="navbar-link" href="#">sponsors</a></li>
    <!-- <li id="7" class="navbar-item"><a class="navbar-link" href="#">Our team</a></li> -->
    <li  class="navbar-item"><a id="8" class="navbar-link" href="#contact">Contact us</a></li>
  </ul>
</nav>
